autom4te.cache
**~
build
**a.out*
**.o
**.js.mem
**.log
**.status
**.a
**.cache
**.lo
**.a
**Makefile
**libz.so*
**.pl
**/julius/config.h
**/libjulius/include/julius/config.h
**/libsent/include/sent/config.h
**/libjulius/libjulius-config
**/libjulius/libjulius-config-dist
**/libjulius/src/version.c
**/libsent/libsent-config
**/libsent/libsent-config-dist
**/mkgshmm/mkgshmm
**/libjulius/doxygen.conf.ver
**ztest*
